argparse
typing
torch
tqdm
transformers
whoosh
pyspellchecker
nvidia-ml-py3
psutil
prompt-toolkit
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability